{% extends "core/base.html" %}

{% load static from staticfiles %}
{% load wagtailcore_tags %}
{% load wiki_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "wiki/css/wiki.scss" %}" />
{% endblock %}

{% block body_class %}wiki-body{% endblock %}

{% block sidebar %}
{{ block.super }}
{% include "core/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}

{% block content %}
    {% if self.content %}
        <div class="wiki-content">
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
