{% load core_tags cache compress wagtailuserbar %}
{% load static %}
{% load menu_tags %}
{% load bootstrap3 %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block analytics_tracking %}
            {% google_analytics %}
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %}{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        {# External stylesheets #}
        {% bootstrap_css %}

        {% compress css %}
            {# Custom stylesheets #}
            {# SCSS compilation relies on django compressor #}
            <link rel="stylesheet" type="text/x-scss" href="{% static "core/css/main.scss" %}" />
            {% block extra_css %}
              {# Override this block in individual templates in order to add stylesheets on a template by template basis #}
            {% endblock %}
        {% endcompress %}

        {# Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs #}
        <script type="text/javascript">
        </script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="{% block body_class %}{% endblock %}"> {# Override this block to set custom body classes on a template by template basis #}

        <div class="main container">

          <div class="page-header">
              {% if self %}
              <h1>{{ self.get_site.site_name }}<small> minecraft dashboard</small></h1>
              {% else %}
              {% get_site as site %}
              <h1>{{ site.site_name }} <small> minecraft dashboard</small></h1>
              {% endif %}
          </div>

            {% wagtailuserbar %}

            {% block menu %}
              {% main_menu %}
            {% endblock %}

            <div class="row">
                <div class="col-sm-9 col-sm-push-3  content">
                  {% breadcrumbs %}

                  {% block content_heading %}
                      <div class="page-title">
                          <h2>{{ self.title }}</h2>
                      </div>
                  {% endblock %}

                  {% block content %}{% endblock %}
                </div>
                <div class="col-sm-3 col-sm-pull-9 sidebar">
                  {% block sidebar %}
                    {% server_status %}
                    {% who_is_online %}
                  {% endblock %}
                </div>

            </div>

        </div>

        {# External javascript #}
        <script src="{% static "core/js/jquery-3.2.1.min.js" %}" ></script>
        {% bootstrap_javascript %}

        {% compress js %}
            {# Custom javascript #}
            {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
            <script src="{% static "core/js/main.js" %}"></script>
            {% block extra_js %}
              {# Override this block in individual templates in order to add javascript on a template by template basis #}
            {% endblock %}
        {% endcompress %}

    </body>
</html>
