{% extends "core/base.html" %}

{% load staticfiles %}


{% block body_class %}404-body{% endblock %}

{% block page-title %}
    <div class="page-title">
      <h2>404 - Page not found</h2>
    </div>
{% endblock %}

{% block content %}
  <div class="404-page">
    <div class="rich-content">
      <div class="block block-paragraph">
        <div class="container">
          <div class="rich-text">
            <p id="error-404">
              You may be trying to find a page that doesn&rsquo;t exist or has been moved.
            </p>
            <h3>What now?</h3>
            <p>
              <a href="/">Visit our homepage</a> or look through the menu to find the page you might be looking for.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "core/js/404.js" %}"></script>
{% endblock %}
